@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  outline: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

.swiper-pagination.banner-pagination {
  @apply bottom-10;
  .swiper-pagination-bullet {
    @apply bg-white h-4 w-4 opacity-20;
    &.swiper-pagination-bullet-active {
      @apply bg-black opacity-100;
    }
  }
}

.selectize-control.multi {
  .selectize-input {
    @apply border-4 border-black p-3 inline-flex flex-wrap gap-x-3 !important;
    input {
      @apply text-xl;
    }
    .item {
      text-shadow: none;
      @apply text-xl bg-gray-100 bg-none border-black border-2 text-black shadow-none mx-0 my-1.5 px-2 py-0;
      &.active {
        @apply bg-none border-black border-2 bg-[#970f53] !important;
      }
      a {
        @apply border-black border-l-2 !important;
      }
    }
  }
  .selectize-dropdown {
    @apply border-black border-4 static;
    .selectize-dropdown-content {
      .option {
        @apply text-xl text-left px-3 select-none;
        &.active {
          @apply bg-gray-100;
        }
      }
    }
  }
}

.flatpickr-wrapper {
  @apply w-full;
  .flatpickr-calendar {
    @apply left-1/2 top-full mt-5 -translate-x-1/2 animate-none !important;
  }
}

.loader {
  .loader-shadow {
    @apply bg-white -mt-7;
    filter: drop-shadow(0px 20px 6px #9ca3af);
  }
}

.prettydropdown {
  @apply w-full h-[60px] !important;
  ul {
    @apply border-4 border-black box-border max-h-max p-0.5 !important;
  }
  ul,
  li {
    @apply w-full text-xl leading-[48px] !important;
  }
}
