@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

* {
  scrollbar-width: thin;
  outline: none;
}

*::-webkit-scrollbar {
  width: 8px;
}

.swiper-pagination.banner-pagination {
  bottom: 40px;
}
